{{define "base"}}
<!doctype html>
<html lang='en'>
    <head>
        <meta charset='utf-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{template "title" .}} - Snippetbox</title>
        <link rel="stylesheet" type="text/css" href="../static/css/bulma.min.css">
    </head>
    <body>
		<section class="section">
			<div class="container">
			  <h1 class="title">
				Hello World
			  </h1>
			  <p class="subtitle">
				My first website with <strong>Bulma</strong>!
			  </p>
			</div>
          <a class="button is-primary">
                Button
          </a>
		  </section>
        <header>
            <h1><a href='/'>Skade</a></h1>
        </header>
        <nav>
            <a href='/'>Home</a>
        </nav>
        <main>
            {{template "main" .}}
        </main>
    </body>
</html>
{{end}}
